<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
    </head>
    
    <style>
        h1 {
            text-align: center;
            font-family: 'EB Garamond';font-size: 48px;
        }
        p {
            text-align: center;
            font-family: 'EB Garamond';font-size: 22px;
        }
        body {
            font-family: 'EB Garamond';font-size: 22px;
        }
    </style>
    <body>

        <div><a href="/index"><b>Colleen & Tim</b></a> </div>
        <div><a href="/index">RSVP</a> </div>
        <div><a href="/index">Registry</a> </div>
        <div><a href="/index">Info</a> </div>

        <hr>
        {% block content %}{% endblock %}
    </body>
</html>