{% extends "base.html" %}

{% block content %}

<marquee> Coming soon! </marquee>

<marquee direction="up"> Coming soon! </marquee>
<marquee direction="down"> Coming soon! </marquee>

<marquee
  direction="down"
  width="690"
  height="69"
  behavior="slide"
  style="border:transparent">
  <marquee behavior="alternate"> Coming soon! </marquee>
</marquee>

<marquee
  direction="down"
  width="420"
  height="666"
  behavior="alternate"
  style="border:transparent">
  <marquee behavior="alternate"> Coming soon! </marquee>
</marquee>


{% endblock %}