{% extends "base.html" %}

{% block content %}

    <h1 id="what-to-wear">What to wear</h1>
        <p>Wedding attire, duh. </p>
        <p>In all seriousness, it's most important you feel confident and comfortable. We're recommending something in the nebulous zone of somewhere between "cocktail attire" and "semi-formal". </p>
        <p>The ceremony and reception will be indoors.</p>
    <h1 id="where-to-stay">Where to stay</h1>
        <p>Both the ceremony and reception will be at <a href="https://www.unionpine.com/">Union / Pine</a>. </p>
        <p>The following hotels are all less than a mile from the venue. </p>
        <ul>
            <li><a href="https://www.palisociety.com/hotels/hotel-grand-stark">Hotel Grand Stark</a></li>
            <li><a href="https://www.jupiterhotel.com/">Jupiter Hotel</a></li>
            <li><a href="https://kexhotels.com/">KEX</a></li>
            <li><a href="https://www.hilton.com/en/hotels/rllc-dt-doubletree-portland/">Hilton Double Tree</a></li>
            <li><a href="https://www.hoteleastlund.com/">Hotel Eastlund</a></li>
        </ul>
        <p>If these don't seem like your speed or you're looking for an Airbnb, we recommend searching for something within 2 - 3 miles of the 97214 zip code. </p>
    <h1 id="contact">Contact</h1>
        <p>Assuming you don't already have one of our numbers and / or if you need to reach out to both of us, you can email us at nilsenmoroney &#64; gmail&#46;com ☺</p>


{% endblock %}