{% extends "base.html" %}

{% block content %}

    <p>In lieu of a traditional registry, we ask that you consider donating to one of the following (or a cause of your choice!): </p>
    <ul>
        <li><a href="https://www.unrwa.org/">United Nations Relief and Works Agency (UNRWA)</a>, a UN agency that supports Palestinian refugees.</li>
        <li><a href="https://donate.doctorswithoutborders.org/">Médecins Sans Frontière (Doctors Without Borders)</a>, an NGO that provides medical care in conflict / war zones</li>
        <li><a href="https://www.stumptownstrays.org/">Stumptown Strays</a>, a pet-rescue organization based in Portland (we&#39;ve fostered many pups through Stumptown Strays)</li>
    </ul>

    <p> We welcome contributions to our honeymoon fund and, if it&#39;s not too gauche, you can do so via <a href="https://venmo.com/u/Tim-Nilsen">Venmo</a> or <a href="paypal.me/timnilsen420">PayPal</a>. </p>

    <p> Thank you, and can't wait to see you! </p>

{% endblock %}