{% extends "base.html" %}

{% block content %}

Médecins Sans Frontières AKA Doctors without Borders
https://donate.doctorswithoutborders.org/secure/rr-donate-web

United Nations Relief & Works Agency
https://donate.unrwa.org/-landing-page/en_EN

Palestine Red Crescent Society
https://www.palestinercs.org/en

Stumptown Strays
https://www.stumptownstrays.org/donate


Rahab's Sisters
Women's shelter; host clothing events, go on-site to homeless communities to provide food.
https://rahabs-sisters.org/donate


Us
https://venmo.com/u/Tim-Nilsen


{% endblock %}